@charset "utf-8";

.logo {
    width: 25rem;
    filter: invert(1) brightness(2);
}

body {
    background-image: url(/assets/img/Bird.JPEG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100svh;
}

.construction {
    color: white;
}

.title-construction-site {
    padding-top: 5rem;
}

.text-construction-site {
    padding-top: 3rem;
}